body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(188, 206, 233);
    
}
input[type=text], input[type=password]{
    width: 100%;
    border: 1px solid red;
    margin: 8px 0px;
    display: inline-block;
    box-sizing: border-box;
    padding: 12px 20px;
}

.cancelbtn{
    width: auto;
    padding: 11px 17px;
    background-color: rgba(174, 198, 209, 0.829);
    
}
label{
    font-size: 30px;
    color: rgb(64, 55, 105);
}
button{
    background-color: rgba(57, 58, 160, 0.747);
    width: 100%;
    color: white;
    cursor: pointer;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    font-size: 100%;
}

button:hover{
    opacity: 0.8;
}

.close{
    float: right;
    padding-top: 16px;
    color: black;
    font-size: 45px;
    font-weight: bold;
    top: 0;
    position: absolute;
    right: 25px;
}
.close:focus{
    color: rgb(28, 49, 141);
    cursor: pointer;
}
.logo{
    width: 18%;
    border-radius: 50%;
    
}
.imgcontainer{
    text-align: center;
    position: relative;
    margin: 24px 0 12px 0;
}
.modal-content{
    background-color: rgb(122, 154, 223);
    margin: 5% auto 15% auto;
    border: 1px solid #888888;
    width: 80%

}